                                                   Assignment No.2

1. Question 1:
Create a variable age and assign it the value 25 . Then print the value of
age along with its data type using the type() function.

In [2]:
# Create a variable age and assign it the value 25
age = 25

# Print the value of age along with its data type
print("Age:", age, "| Data type:", type(age))

Age: 25 | Data type: <class 'int'>

In [3]:
age = 25;
print(age);
print(type(age));

25
<class 'int'>

2. Question 2:
Assign the number 12.5 to a variable price . Print both the variable and its
data type. Then assign the value 12 to the same variable and print its data
type again. What do you observe?

In [4]:
price = 12.5          # first assign 12.5
print(price, type(price))   # print value and type

price = 12            # now assign 12
print(price, type(price))   # print value and type

12.5 <class 'float'>
12 <class 'int'>

3. Question 3:
Create a variable is_raining and set it to True . Print the value of the variable
along with its type. Then set is_raining to False and print the new value and
type.

In [8]:
is_raining = True
print(is_raining) 
print(type(is_raining))  # prints value and type

is_raining = False
print(is_raining) 
print(type(is_raining))  # prints new value and type

True
<class 'bool'>
False
<class 'bool'>

4. Question 4:
Create a variable my_name and store your full name in it as a string. Then
print the value of my_name using single quotes ' .

In [9]:
my_name = "Priyanka Sangannawar"        # store your full name
print('My name is:', my_name)           # print using single quotes

My name is: Priyanka S

5. Question 5:
Write a Python program that asks the user for their name and age using the
input() function. Store the inputs in variables and print a sentence like
"Hello, [Name]! You are [Age] years old." Ensure you cast the age to an
integer.

In [25]:
# Ask the user for their name
name = input("Enter your name ")

# Ask the user for their age and cast it to integer
age = int(input("Enter your age "))

# Print the sentence
print(f"Hello, {name}! You are {age} years old.")

Enter your name  priyanka
Enter your age  26

Hello, priyanka! You are 26 years old.

In [17]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print("Hello,", name + "!", "You are", age, "years old.")

Enter your name:  Priyanka
Enter your age:  26

Hello, Priyanka! You are 26 years old.

6. Question 6:
Create two variables x and y and assign them the values 10 and 3.5 ,
respectively. Print their values and types. Then, create a new variable
sum_xy and store the sum of x and y . Print the result and its type.

In [26]:
x = 10
y = 3.5

print(x, type(x))
print(y, type(y))

sum_xy = x + y
print(sum_xy, type(sum_xy))

10 <class 'int'>
3.5 <class 'float'>
13.5 <class 'float'>

7. Question 7:
Using the type() function, check and print the data type of the following:
 45.0
 "hello"
 None
 False.

In [28]:
print(type(45.0))     # float
print(type("hello"))  # string
print(type(None))     # NoneType
print(type(False))    # bool

<class 'float'>
<class 'str'>
<class 'NoneType'>
<class 'bool'>

In [35]:
A = 45.0
B = "hello"
C = (None)
D = False
print(type(A))
print(type(B))
print(type(C))
print(type(D))

<class 'float'>
<class 'str'>
<class 'NoneType'>
<class 'bool'>

8. Question 8:
Write a Python program to print three strings "apple" , "banana" , and "cherry"
on the same line, separated by a space. Then modify the program to
separate the strings using a comma , instead of a space.

In [29]:
print("apple", "banana", "cherry")            #Strings separated by a space
print("apple", "banana", "cherry", sep=",")   #Strings separated by a comma

apple banana cherry
apple,banana,cherry

9. Question 9:
Create a variable big_number and assign it a very large integer value (e.g.,
987654321987654321 ). Print the value and its type. What do you notice about
the size of the number?

In [32]:
big_number = 987654321987654321       # a very large integer
print(big_number, type(big_number))

#In Python, even very large integers are handled by the built-in int type.
#There’s no fixed size limit for integers (other than your computer’s memory),
#so Python can store numbers much larger than in many other programming languages.

987654321987654321 <class 'int'>

10. Question 10:
Write a Python program that prints the result of multiplying two floats (e.g.,
2.5 and 3.7 ). Then check and print the data type of the result.

In [37]:
A = 2.5
B = 3.7

C = A * B         # multiply two floats
print(C)          # print the result
print(type(C))    # print the data type of the result

9.25
<class 'float'>